@media screen and (max-width:1025px){
    .main_text1{
        font-size: 16pt;
        width: 550px;
        margin-top: 20px;
    }
    .main_text2{
        font-size: 16pt;
        width: 680px;
        margin-top: 10px;
    }
    .telegram{
        right: 25px;
    }
    .parent{
        top: 150px;
        transform: translate(-50%, 0%);

    }
}
@media screen and (max-width:769px){
    .main_text1{
        font-size: 16pt;
        width: 550px;
        margin-top: 20px;
    }
    .main_text2{
        font-size: 16pt;
        width: 680px;
        margin-top: 30px;
    }
    .telegram{
        right: 15px;
        top: 20px;
        width: 60px;
        height: 60px;
    }
    .parent{
        top: 150px;
        transform: translate(-50%, 0%);
        width: 680px;
    }
    .text{
        top: 20px;
        margin: 0 auto;
    }
    .text2{
        top: 10px;
        width: 300px;
        font-size: 11pt;
    }
}
@media screen and (max-width:377px){
    body{
        width: 320px;
        overflow-x: hidden;
        height: 100%;
        position: relative;
        left: 50%;
        transform: translate(-50%,0%);
    }
       .parent {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: repeat(20, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 320px;
    
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 5 / 1 / 6 / 2; }
.div6 { grid-area: 6 / 1 / 7 / 2; }
.div7 { grid-area: 7 / 1 / 8 / 2; }
.div8 { grid-area: 8 / 1 / 9 / 2; }
.div9 { grid-area: 9 / 1 / 10 / 2; }
.div10 { grid-area: 10 / 1 / 11 / 2; }
.div11 { grid-area: 11 / 1 / 12 / 2; }
.div12 { grid-area: 12 / 1 / 13 / 2; }
.div13 { grid-area: 13 / 1 / 14 / 2; }
.div14 { grid-area: 14 / 1 / 15 / 2; }
.div15 { grid-area: 15 / 1 / 16 / 2; }
.div16 { grid-area: 16 / 1 / 17 / 2; }
.div17 { grid-area: 17 / 1 / 18 / 2; }
.div18 { grid-area: 18 / 1 / 19 / 2; }
.div19 { grid-area: 19 / 1 / 20 / 2; }
.div20 { grid-area: 20 / 1 / 21 / 2; }
 .main_text1{
    width: 330px;
    font-size: 15pt;
 }
 .main_text2{
    width: 330px;
    top: 80px;
    font-size: 12pt;
 }
 .text2{
    margin: 0px 0px 0px 0px;
 }
 .telegram{
    top: 20px;
    right: -15px;
 }


}