@font-face {
    font-family: "e-Ukraine";
    src: url("font/e-Ukraine-Regular.otf"), format("opentype");
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 1px solid red;
    width: 1920px;
    height: 6969px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
}

a {
    color: black;
    text-decoration: none;
    font-family: E-Ukraine;
}

p {
    margin: 0 auto;

}

.prapor {
    display: grid;
    grid-template-columns: 1920px repeat(4, 1fr);
    grid-template-rows: 500px 500px repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    width: auto;
    height: 1000px;
    border: 1px solid black;

    z-index: -10;
}

.menu {
    display: grid;
    grid-template-columns: 81px 41px 100px;
    grid-template-rows: 25px repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;

    position: absolute;
    top: 50%;
    left: 535px;
    transform: translate(0, -50%);
    margin: 0 auto;
    width: auto;
}

.button {
    width: 295px;
    height: 75px;
    background-color: #E5C7AD;
    position: absolute;
    top: 811px;
    left: 881px;

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in;
}

.button:hover {
    transform: translateY(5px);
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.card_doc {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: 250px;
    grid-column-gap: 26px;
    grid-row-gap: 0px;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 330px;
    border: 1px solid blue;
    position: absolute;
    top: 1160px;
    left: 50%;
    transform: translate(-50%);
}


.card1,
.card2,
.card3,
.card4 {
    width: 270px;
    height: 250px;
    border: 0px solid black;
    background-color: white;

}

.card1 {
    grid-area: 1 / 1 / 2 / 2;
}

.card2 {
    grid-area: 1 / 2 / 2 / 3;
}

.card3 {
    grid-area: 1 / 3 / 2 / 4;
}

.card4 {
    grid-area: 1 / 4 / 2 / 5;
}

.button_card {
    width: 239px;
    height: 87px;
    border-radius: 5px;
    background-color: #E5C7AD;
    position: absolute;
    left: 50%;
    bottom: 14px;
    transform: translate(-50%);
}

.card_butt_text {
    font-family: 'e-Ukraine', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.7px;
    text-align: center;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.basic_services {
    width: 1920px;
    height: 190px;
    position: absolute;
    top: 1490px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid red;
}

.basic_services_text,
.why_us_text {
    color: var(--testbti-tilda-ws-black, #000);
    font-family: 'e-Ukraine',
        sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.basic_services_line {
    width: 313px;
    height: 5px;
    background-color: #E5C7AD;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.basic_services2 {
    width: 1920px;
    height: 740px;
    border: 1px solid red;
    position: absolute;
    top: 1680px;
    left: 50%;
    transform: translate(-50%);
}

.wrapper_b_s {
    width: 1174px;
    height: 425px;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%);

    display: grid;
    grid-template-columns: repeat(2, 552px);
    grid-template-rows: repeat(2, 198px);
    grid-column-gap: 70px;
    grid-row-gap: 25.5px;
}

.block1,
.block2,
.block3,
.block4,
.block5 {

    width: 552px;
    height: 198px;
    box-shadow: 10px 10px 40px 0px #BDBDBD;
}

.block5 {
    position: relative;
    left: 50%;
    top: 25.5px;
    transform: translate(-50%);
}

.block1_text,
.block2_text,
.block3_text,
.block4_text,
.block5_text {
    color: #000;
    font-family: 'e-Ukraine', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;



    width: 490px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
}

.line1,
.line2,
.line3,
.line4,
.line5 {
    width: 12px;
    height: 198px;
    background-color: #E5C7AD;



}

.line1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.line2 {
    position: absolute;
    top: 0px;
    left: 622px;
}

.line3 {
    position: absolute;
    top: 225px;
    left: 0px;
}

.line4 {
    position: absolute;
    top: 225px;
    left: 622px;
}

.line5 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.why_us {

    width: 1920px;
    height: 140px;
    position: absolute;
    top: 2420px;
    left: 50%;
    transform: translate(-50%);
}

.why_us2 {
    width: 1920px;
    height: 550px;
    border: 1px solid red;

    position: absolute;
    top: 2560px;
    left: 50%;
    transform: translate(-50%);

}

.why_us_main {
    width: 1185px;
    height: 242px;


    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: 1185px;
    grid-template-rows: repeat(2, 121px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.why_us_main_block1 {

    grid-area: 1 / 1 / 2 / 2;
    width: 1185px;
    height: 121px;

    display: grid;
    grid-template-columns: 331px 370px 298px;
    grid-template-rows: 121px;
    grid-column-gap: 18px;
    grid-row-gap: 0px;

    justify-content: center;
}

.why_us_main_block1_subblock1 {
    width: 331px;
    height: 121px;

    grid-area: 1 / 1 / 2 / 2;
}

.why_us_main_block1_subblock2 {
    width: 370px;
    height: 121px;

    grid-area: 1 / 2 / 2 / 3;
}

.why_us_main_block1_subblock3 {
    width: 298px;
    height: 121px;

    grid-area: 1 / 3 / 2 / 4;


}

.why_us_main_block2 {

    grid-area: 2 / 1 / 3 / 2;
    width: 1185px;
    height: 121px;

    display: grid;
    grid-template-columns: 611px 545px;
    grid-template-rows: 121px;
    grid-column-gap: 30px;
    grid-row-gap: 0px;

    justify-content: center;
}

.why_us_main_block2_subblock1 {
    width: 611px;
    height: 121px;

    grid-area: 1 / 1 / 2 / 2;


}

.why_us_main_block2_subblock2 {
    width: 545px;
    height: 121px;

    grid-area: 1 / 2 / 2 / 3;


}

.why_us_main_block1_subblock1>p.number,
.why_us_main_block1_subblock2>p.number,
.why_us_main_block1_subblock3>p.number,
.why_us_main_block2_subblock1>p.number,
.why_us_main_block2_subblock2>p.number {
    font-family: 'e-Ukraine', sans-serif;
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
    line-height: 121px;

    width: 104px;
    height: 121px;
    margin: 0 0 auto;
}

.why_us_main_block1_subblock1>p.text,
.why_us_main_block1_subblock2>p.text,
.why_us_main_block1_subblock3>p.text,
.why_us_main_block2_subblock1>p.text,
.why_us_main_block2_subblock2>p.text {
    font-family: 'e-Ukraine',
        sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
}

.why_us_main_block1_subblock1>p.text {
    width: 230px;
    height: 61px;
    position: absolute;
    top: 31px;
    left: 180px;

    margin: 0 0 auto;
}

.why_us_main_block1_subblock2>p.text {
    width: 258px;
    height: 61px;
    position: absolute;
    top: 31px;
    left: 533px;
    text-align: center;
    padding-top: 15px;
}

.why_us_main_block1_subblock3>p.text {
    width: 186px;
    height: 61px;
    position: absolute;
    top: 31px;
    left: 930px;

    margin: 0 0 auto;
}

.why_us_main_block2_subblock1>p.text {
    width: 497px;
    height: 61px;
    position: absolute;
    top: 152px;
    left: 115px;

    margin: 0 0 auto;
}

.why_us_main_block2_subblock2>p.text {
    width: 431px;
    height: 62px;
    position: absolute;
    top: 152px;
    left: 755px;

    margin: 0 0 auto;
}

.why_us_main_block1_subblock1>div.line,
.why_us_main_block1_subblock2>div.line,
.why_us_main_block1_subblock3>div.line,
.why_us_main_block2_subblock1>div.line,
.why_us_main_block2_subblock2>div.line {
    background-color: #E5C7AD;
}

.why_us_main_block1_subblock1>div.line {
    width: 230px;
    height: 10px;
    position: absolute;
    top: 93px;
    left: 180px;

    margin: 0 0 auto;
}

.why_us_main_block1_subblock2>div.line {
    width: 258px;
    height: 10px;
    position: absolute;
    top: 75px;
    left: 533px;
    text-align: center;

}

.why_us_main_block1_subblock3>div.line {
    width: 186px;
    height: 10px;
    position: absolute;
    top: 93px;
    left: 930px;

    margin: 0 0 auto;
}

.why_us_main_block2_subblock1>div.line {
    width: 497px;
    height: 10px;
    position: absolute;
    top: 214px;
    left: 115px;

    margin: 0 0 auto;
}

.why_us_main_block2_subblock2>div.line {
    width: 431px;
    height: 10px;
    position: absolute;
    top: 214px;
    left: 755px;

    margin: 0 0 auto;
}

.teh_passport {
    position: absolute;
    top: 3110px;
    left: 50%;
    transform: translate(-50%);

    width: 1920px;
    height: 140px;
    border: 1px solid black;
}

.teh_passport2 {
    position: absolute;
    top: 3250px;
    left: 50%;
    transform: translate(-50%);

    width: 1920px;
    height: 550px;

    border: 1px solid green;
}

.teh_passport2 .wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1174px;
    height: 550px;
    border: 1px solid blue;
}

.teh_passport2 .wrapper>p {
    margin-left: 25px;
    margin-top: 65px;
    width: max-content;

    font-family: e-Ukraine;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
}

.additional_services {
    width: 1920px;
    height: 150px;

    position: absolute;
    top: 3800px;
    left: 50%;
    transform: translate(-50%);

    border: 1px solid black;
}

.additional_services2 {
    width: 1920px;
    height: 460px;

    position: absolute;
    top: 3950px;
    left: 50%;
    transform: translate(-50%);

    border: 1px solid rebeccapurple;
}

.additional_services2 .wrapper {
    width: 1174px;
    height: 425px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 552px);
    grid-template-rows: repeat(2, 198px);
    grid-column-gap: 70px;
    grid-row-gap: 25.5px;
}

.faq1 {
    width: 1920px;
    height: 130px;

    position: absolute;
    top: 4410px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid violet;
}

.faq2 {
    width: 1920px;
    height: max-content;
    border: 1px solid red;

    position: relative;
    top: 3600px;
    left: 50%;
    transform: translate(-50%);
}

.faq2 .wrapper {
    width: 800px;
    height: max-content;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);

}

div.faq2 div.wrapper .block1,
div.faq2 div.wrapper .block2,
div.faq2 div.wrapper .block3,
div.faq2 div.wrapper .block4,
div.faq2 div.wrapper .block5 {
    box-shadow: none;
    border: 0.2px solid black;
    height: 116px;
    width: auto;

}

div.wrapper .block5 {
    top: 0px;
}

div.faq2 div.wrapper div.block1 p,
div.faq2 div.wrapper div.block2 p,
div.faq2 div.wrapper div.block3 p,
div.faq2 div.wrapper div.block4 p,
div.faq2 div.wrapper div.block5 p {
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(0, -50%);
}

/* falling container */
.hidden {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

/* Стилі для розгорнутого блоку */
.expandableBlock {

    margin-top: 0px;
    animation: slideDown 0.5s ease;

}

/* Реверсивна анімація для згортання блоку */
.expandableBlock.reverseSlideUp {
    animation: reverseSlideUp 0.5s ease;
}

/* Анімація знизу вгору */

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Реверсивна анімація для згортання блоку */


@keyframes reverseSlideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Стилі для чорних квадратів (перехрестя) */
.blackSquare {
    width: 40px;
    height: 40px;
    background-color: #E5C7AD;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: 750px;

    transition: transform 0.5s ease;

    border-radius: 25px;
    /* Додано анімацію для властивості transform */
}

.horizontalLine,
.verticalLine {
    position: absolute;
    background-color: #000;
    transition: transform 0.5s ease;
    /* Додано анімацію для властивості transform */
}

.horizontalLine {
    width: 65%;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.verticalLine {
    width: 2px;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Додано клас для обертання на 45 градусів */
.rotate45 {
    transform: rotate(45deg);
}

/* Стилі для тексту правіше від кнопок */
.buttonText {
    margin-left: 10px;
}

/* Стилі для контейнера блоку */
.blockContainer {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 800px;
    height: max-content;
    margin-bottom: 10px;
    /* Змінено напрямок головної осі на обернений */
}

.test {
    width: 800px;
    height: max-content;
    border: solid black;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

/* falling container */
.contacts {
    width: 1920px;
    height: 130px;
    position: relative;
    top: 3620px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid red;
}

.contact2 {
    width: 1920px;
    height: 610px;
    position: relative;
    top: 3620px;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid red;
}

.contact2 .wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 731px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 237px);
    grid-template-rows: repeat(7, 70px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9,
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div16,
.div17,
.div18,
.div19 {
    border-radius: 5px;
    border: 0px solid black;
    width: 100%;
    height: 100%;
    background-color: #E5C7AD;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 2;
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
}

.div6 {
    grid-area: 2 / 3 / 3 / 4;

}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
}

.div10 {
    grid-area: 4 / 1 / 5 / 2;

}

.div11 {
    grid-area: 4 / 2 / 5 / 3;

}

.div12 {
    grid-area: 4 / 3 / 5 / 4;

}

.div13 {
    grid-area: 5 / 1 / 6 / 2;

}

.div14 {
    grid-area: 5 / 2 / 6 / 3;

}

.div15 {
    grid-area: 5 / 3 / 6 / 4;

}

.div16 {
    grid-area: 6 / 1 / 7 / 2;

}

.div17 {
    grid-area: 6 / 2 / 7 / 3;

}

.div18 {
    grid-area: 6 / 3 / 7 / 4;

}

.div19 {
    grid-area: 7 / 2 / 8 / 3;

}

.contact_text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: e-Ukraine;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
}


/* ////////////////////////////// */
#popupContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 998;

    width: 1000px;
    height: 700px;
}

/* Стилі для кнопки закриття popup */
#closePopupButton {
    cursor: pointer;
    color: #007BFF;
    margin-bottom: 10px;
}

/* Сховати кнопку закриття popup */
#closePopupButton.hidden {
    display: none;
}

/* Стилі для тла при відкритому popup (затемнення фону) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

/* Збільшити z-index тла при відкритому popup */
#popupContainer.active,
.overlay.active {
    display: block;
}