body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1362px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}

.b1 {

    width: 100%;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #F0C808;
}

.b1_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

/* //////////// */
.container {
    position: relative;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    display: inline-block;
    cursor: pointer;

    width: 50px;
    height: 50px;
    z-index: -100;
}

.bar1,
.bar2,
.bar3 {
    position: relative;
    top: 8px;
    left: 50%;
    transform: translate(-50%);
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.4s;
    z-index: 3;
}

.bar1 {
    margin-top: 0px;
}

.change .bar1 {
    transform: translate(-50%, 15px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(-50%, -15px) rotate(45deg);
}

.menu {
    position: relative;
    top: 30px;
    left: -375px;
    width: 350px;
    height: 1280px;
    background-color: #F0C808;
    z-index: 100;
    transition: .4s;
}

.change .menu {
    transform: translateX(360px);
    z-index: 100;
}

.promo {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);

    margin: 0 auto;
    z-index: -5;
}

.promo_img {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(50%, 50%);
    width: 400px;
    height: 350px;
    z-index: -5;
    /* animation */

    animation: T-animation 5s linear infinite normal;
}

@keyframes T-animation {
    0% {
        transform: rotateY(-180deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}

.text1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-family: 'Permanent Marker', cursive;
    font-size: 15pt;
    z-index: -5;
}

.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    font-family: 'Permanent Marker', cursive;
    font-size: 15pt;
    z-index: -5;
}

.div_insta {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 780px;
    width: 25px;
    height: 25px;

}

.insta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}




.copyright {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'Permanent Marker', cursive;
    margin: 0 auto;
    z-index: -5;
}

.line {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: 1000px;
    background-color: black;
}

.menu_text1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.menu_text2 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.menu_text3 {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, 0);
}

.menu_text1,
.menu_text2,
.menu_text3 {
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-decoration: none;
    margin: 0 auto;

    font-size: 16pt;
}

div.container {
    z-index: 10;
}