 @media screen and (max-width:1281px) {
     #slider-container {
         transform: translate(-50%, -45%) !important;
     }

     .prev {
         left: 10px !important;
     }

     .next {
         right: 10px !important;
     }

     #fullscreen-image {
         width: auto !important;
         height: 65% !important;
     }
 }

 @media screen and (max-width:768px) {}

 #slider-container {
     width: 50%;
     height: 100%;
     overflow: hidden;
     position: relative;
     top: 0%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 15;
     border: 0px solid red;
     margin-top: 175px;
 }

 #slider-wrapper {
     display: flex;
     transition: transform 1s ease-in-out;

 }

 .slide {
     min-width: 100%;
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     margin-right: 0 !important;
 }

 .slide img {
     transition: transform 0.5s ease;
 }

 .slider-arrow {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     font-size: 24px;
     cursor: pointer;
     width: 50px;
     height: 50px;
     border-radius: 25px;
 }

 .slide>div>img {
     max-height: max-content;
     width: 90%;
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     cursor: pointer;
     transition: all .3s ease-in-out;
     border-radius: 25px;
     padding: 15px;
 }

 .slide div {
     width: 350px;
     height: 440px;
     border: 0px solid red;
 }

 /* img:hover {
     width: 200%;
     height: 200%;

 } */


 .prev {
     left: 150px;
 }

 .next {
     right: 150px;
 }

 /* Стилі збільшеної картинки */
 #fullscreen-overlay {
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 1712px;
     height: 959px;
     /* background-color: rgba(0, 0, 0, 0.8); */
     z-index: 9999;
     justify-content: center;
     align-items: center;
 }


 #fullscreen-image {
     width: max-content;
     height: 100%;
     margin: auto;
     top: 0%;
     left: 0%;
     animation: zoom-in 0.5s ease forwards;
     border-radius: 25px;
 }

 @keyframes zoom-in {
     from {
         transform: scale(0);
         /* початковий розмір */
     }

     to {
         transform: scale(1);
         /* кінцевий розмір */
     }
 }